/*se cargan las fuentes necesarias para la app*/

@font-face {
  font-family: "Flama-Basic";
  src: url('../fonts/flama-basic/Flama-Basic.otf');
}

@font-face {
  font-family: "built titling sb";
  src: url('../fonts/built-titling/built titling sb.ttf');
}

@font-face {
  font-family: "Lato";
  src: url('../fonts/Lato/Lato.ttf');
}

@font-face {
  font-family: "Oraqle";
  src: url('../fonts/Oraqle/Oraqle-Script.ttf');
}
html, body {
      height: 100%;
      margin: 0;
      padding: 0;
}

#map {
      /*height: 100%;
      margin-top: 50px;
      width: 85%;*/
}
:root{
  --color_red: #ff0018;
  --color_blue: #1B30E8;
  --color_green: #23DB1D;
  --color_white: #ffffff;
  --color_black: #000000;
  --color_blueFamily: #00b2b6;
  --color_blueFamily2: #04D1D6;

    /*fuentes*/
  --Lato: "Lato";
  --built_titling: "built titling sb";
  --Flama-Basic: "Flama-Basic";
  --Oraqle: "Oraqle";
}
.menu{
  width: 18%;
  height: 50px;
  background: var(--color_white);
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  font-size: 28px;
  text-align: center;
  font-family: var(--Flama-Basic);
}
.footer{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform:translateX(-50%);
  width: 40%;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
}
.btn_mapP, .btn_mapF, .btn_mapH{
  width: 150px;
  height: 50px;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;

}

h1{
  text-align: center;
}
.container_up{
  width: 90%;
  margin: auto;

}
.groupBut{
  display: flex;
}
.btns{
  margin-right: 10px;
}
.btn__maps{
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}
.btn-m{
  border:none;
}
.btn_mapP>button, .btn_mapP>a, .btn_mapP>span{
  background: var(--color_red);
}
.btn_mapH>button, .btn_mapH>a, .btn_mapH>span{
  background: var(--color_green);
}
.btn_mapF>button, .btn_mapF>a, .btn_mapF>span{
  background: var(--color_blue);
}
span{
      text-align: center;
      color: var(--color_white);
      font-family: var(--Flama-Basic);
      font-size: 20px
}
a{
  text-align: center;
}
h1{
  font-family: var(--Oraqle);
  font-size: 87px;
}
h4{
  font-family: var(--Lato);
  font-size: 22px;
}
h5{
  font-family: var(--Oraqle);
  font-size: 50px;
}
p{
  font-family: var(--Flama-Basic);
}
tr{
    font-family: var(--Flama-Basic);
}
th{
  font-family: var(--Lato);
}
input{
  font-family: var(--Flama-Basic);
}
select{
  font-family: var(--Flama-Basic);
}
.btn-m img{
  text-align: center;
}
.section__home{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background: var(--color_blueFamily);
}
.section__img{
  width: 49%;
  text-align: center;
  margin: auto;
}
.section__img img{
  width: 300px;
  height: 150px;
}
.section__select{
  width: 49%;
  margin: auto;
}
.select__home{
  width: 50%;
  margin: auto;
  font-family: var(--Lato);
}
.nav__map{
  background: red;
  width: 15%;
}
/*.footer__Copy{
  margin: 178px 0 0 0;
  }*/



.fonts__style{
  font-family: var(--Lato);
}
.container__two{
  width: 100%;
  display: flex;
  margin: auto;
  padding: 0 62px;
}
.style__check{
  font-family: var(--Flama-Basic);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.0) !important;
}
table.dataTable tbody tr.selected {
    background-color: rgba(0, 178, 182, 0.1) !important;
}
.btn-secondary {
    color: #fff;
    background-color: var(--color_blueFamily) !important;
    border-color: var(--color_blueFamily) !important;
}
.btn-secondary:hover {
    color: #fff;
    background-color: var(--color_blueFamily2) !important;
    border-color: var(--color_blueFamily2) !important;
}
.box__container{
  box-shadow:0 15px 30px 0 rgba(0,0,0,0.11);
  width: 40%; 
  height: 325px; 
  margin: 100px auto; 
  padding: 10px; 
  font-family: var(--Flama-Basic);
}
.box__img{
  width: 100%; 
  display: flex; 
  margin: 16px 0;
}
.box__img img{
  width: 200px; 
  height: 100px; 
  margin: auto;
}
.box__button{
  display: flex; 
  margin: 10px;
}
.box__button button{
  margin: auto;
}
#txtemail{
  margin-bottom: 10px;
}
@media  screen and (min-width: 320px) and (max-width: 499px) {
  .section__img{
    width: 100%;
    text-align: center;
    margin: 35px auto;
  }
  .section__select{
    width: 80%;
    margin: 0 auto 109px auto;
  }
  .select__home{
    width: 100%;
    margin: auto;
  }
  .box__container{
  box-shadow:0 15px 30px 0 rgba(0,0,0,0.11);
  width: 90%; 
  height: 325px; 
  margin: 100px auto; 
  padding: 10px; 
  font-family: var(--Flama-Basic);
  }
}
@media  screen and (min-width: 500px) and (max-width: 700px) {
  .section__img{
    width: 100%;
    text-align: center;
    margin: 35px auto;
  }
  .section__select{
    width: 80%;
    margin: 0 auto 109px auto;
  }
  .select__home{
    width: 50%;
    margin: auto;
  }
  .section__img img{
    width: 180px;
    height: 180px;
  }
  .box__container{
    box-shadow:0 15px 30px 0 rgba(0,0,0,0.11);
    width: 90%; 
    height: 325px; 
    margin: 100px auto; 
    padding: 10px; 
    font-family: var(--Flama-Basic);
  }
}